@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.intro::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: hsla(222, 26%, 17%, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

a:hover {
  text-decoration: underline;
}

.animTop {
  opacity: 0;
  transform: translateY(100%);
  animation: animTop 1s ease forwards;
}

.animRight {
  opacity: 0;
  transform: translateX(-100%);
  animation: animRight 1s ease forwards;
  transition: 1s;
}

.animate,
.animate div {
  opacity: 0;
  transform: translateX(-100%);
  transition: 1s;
}

.animate div:nth-of-type(even) {
  transform: translateX(100%);
}

.animate.animRight,
.animate div.animRight {
  animation: none;
  opacity: 1;
  transform: translateX(0%);
}

nav .animateNav {
  opacity: 0;
  transform: translateY(-100%);
  animation: animDown 2s ease forwards;
}

nav .border-y-4 ul li,
nav .animDrawer ul li {
  opacity: 0;
  transform: translateY(100%);
  animation: animTop 500ms ease forwards;
}

#home {
  animation: animBg 2s ease forwards;
}

@keyframes animBg {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 120% 120%;
  }
}

@keyframes animTop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes animRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes animDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    transform: translateX(0%);
  }
}
